<%= render 'shared/error_messages', object: @user %>

<%= f.label :display_name %>
<%= f.text_field :display_name, class: 'form-control' %>

<%= f.label :alternate_name %>
<%= f.text_field :alternate_name, class: 'form-control' %>

<%= f.label :email %>
<%= f.text_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<%= f.label :league %>
<%= f.text_field :league, class: 'form-control' %>

<p>Are you a:</p>
<%= f.label :blocker %>
<%= f.check_box :blocker %>
<%= f.label :jammer %>
<%= f.check_box :jammer %>
<%= f.label :freshmeat %>
<%= f.check_box :freshmeat %>
<%= f.label :ref %>
<%= f.check_box :ref %>
<%= f.label :nso %>
<%= f.check_box :nso %>