<aside class="col-md-4">
    <section class="user_info user-info">
        <h1 class="name-display"><%= current_user.display_name %></h1>
        
        <% if current_user.alternate_name %>
            <h2><%= current_user.alternate_name %></h2>
        <% end %>
        
        <h2><%= current_user.league %></h2>
        <% if current_user.blocker %>
            <p class="user-type">Blocker</p>
        <% end %>
        
        <% if current_user.jammer %>
            <p class="user-type">Jammer</p>
        <% end %>
        
        <% if current_user.freshmeat %>
            <p class="user-type">Freshmeat</p>
        <% end %>
        
        <% if current_user.ref %>
            <p class="user-type">Ref</p>
        <% end %>
        
        <% if current_user.nso %>
            <p class="user-type">NSO</p>
        <% end %>
        <span><%= link_to "View my profile", current_user %></span>
        <span>(<%= pluralize(current_user.skills.count, "skill") %>)</span>
    </section>
</aside>
